<div class="bg-light border border-primary p-3 rounded m-3">
    <h1 class="display-4 text-center">Contact Us</h1>
</div>
<hr>
<hr>
<form method="post" action="/contact">
    name:<input type="text" name="name"><br>
    email: <input type="text" name="email"><br>
    message:<br>
    <textarea cols="50" name="messages" rows="30"></textarea><br>
    <input class="button" type="submit" value="submit"><br>
</form>