<div class="bg-light border border-primary p-3 rounded m-3">
    <h1 class="display-4 text-center">Rider Requests</h1>
</div>
<hr>
<hr>
<form method="post" action="/request/add">
    name: <input type="text" name="name"><br>
    pick up location: <input type="text" name="pickUp"><br>
    drop off location: <input type="text" name="dropOff"><br>
    <text> Please provide details on where you are going to. 
        If you are travelling to or from the airport or the train station, 
        please list how much luggage you are carrying, and what airline or train you are on. 
        If you are on an arriving flight, please list the flight number.
    </text><br>
    message:<br>
    <textarea cols="50" name="messages" rows="30"></textarea><br>
    <input type="submit" value="Save Item"><br>
</form>
